.header {
    background-color: var(--gray-800);
    display: flex;
    padding: 1.25rem 0;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.hearde img {
    height: 2rem;
}

.header strong {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 160%;
}